<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562349755125-8h3qnhks032hpj5tp8s1vbm1bq4ubqfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562349755125-8h3qnhks032hpj5tp8s1vbm1bq4ubqfg</string>
	<key>API_KEY</key>
	<string>AIzaSyD1GyeQ7pXiHLYgU0GQ2Vr2VNw_TRL9OOs</string>
	<key>GCM_SENDER_ID</key>
	<string>562349755125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Pokemon</string>
	<key>PROJECT_ID</key>
	<string>pokemon-2176b</string>
	<key>STORAGE_BUCKET</key>
	<string>pokemon-2176b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562349755125:ios:84fc42ad1a3ee317d513bc</string>
	<key>DATABASE_URL</key>
	<string>https://pokemon-2176b.firebaseio.com</string>
</dict>
</plist>